@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.main {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.btn {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  transition: 0.5s;
}

.btn .play {
  position: relative;
  width: 80px;
  height: 80px;
  background: #d3ccb5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 15px 25px #d3ccb566;
  transition: 0.5s;
}

.btn.active {
  background: #d3ccb5;
  height: 60vh;
  width: 100vw;
}

.btn .play::before {
  content: '';
  position: absolute;
  border: 25px solid #fff;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 0px solid transparent;
  transform: translateX(5px);
}

.btn p {
  font-weight: 500;
  font-size: 1em;
  color: #888;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.clip {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.clip.active {
  transition-delay: 0.5s;
  transform: translate(-50%, -50%) scale(1);
}

.clip video {
  max-width: 900px;
  max-height: 85%;
  outline: none;
  border: 2px solid #fff;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
}

.clip .close {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  font-weight: 300;
}

@media (max-width: 991px) {
  .clip video {
    max-width: 90%;
  }
}
